*{
    /*default Css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.navbar-collapse
{
    
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
.header{
    width: 100%;
    height: 100vh;
}
.img_logo{
  width: 127px;  

}

.nav-item{
 
    display: inline-block;
    margin: 0 4px;
    padding: 10px 0;
    position: relative;
}
.nav-item .nav-link{
    color:rgba(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 14px;
}

.active{
color: rgb(68, 145, 209) !important;
}

.nav-item .nav-link:hover{
    color: rgb(68, 145, 209);
}

.btn-navbar{
    display: inline-block;
    padding: 11px 39px;
    background-color: rgb(68, 145, 209);
    border: 1px solid rgb(68, 145, 209);
    border-radius: 23px;
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
}
.home{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
 
.heading_sm{
    font-size: 25px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 8px;
}
.heading_name{
    font-size: 84px;
    font-weight: 600;
    margin: 22px 0px;
    letter-spacing: 1px;
}

.heading_name span{
    color: rgb(68, 145, 209);
}

.heading_about{
    font-size: 16px;
    font-weight: 500;
    color: rgba(30, 30, 40, 0.6);
    margin: -12px;
}

.img_home{
    width: 620px;
    border-radius: 39px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    float: right;
    padding-top: 39%;
}

.btn_home{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(41, 38, 38);
    padding: 12px 32px;
    border-radius: 45px;
    color: #ffff;
    margin: 28px 4px;
    font-weight: 600;
    transition: 0.2s ease-in;
}

.btn_home:hover{
    background-color:  rgb(78, 76, 76);
}
.btn-2{
    background-color: rgba(240, 52, 52, 1) ;
}

.social_links {
    position: absolute;
    padding: 20px;
}
ion-icon {
padding: 40px;
border-radius: 50%;
font-size: medium;
color: rgb(0, 81, 128);
}